@charset "utf-8";

/* color set.

  #9de
  #9ae
  #fea
  #fda

  src: http://paletton.com/#uid=73n0v0kbMQN1N+D6SX6gfHWkhx6

*/

/* memo */
/* font-size: 40px-600px; */

body {
    margin: 0px;
}

h1 {
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    font-size: 1em;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
}

.menu {
    float: right;
    list-style-type: none;
}

.menu-list {
    font-size: 0.8em;
    float: left;
    margin-right: 5px;
    padding: 3px 5px;
    background-color: #bbb;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
}

.menu-list:hover {
    box-shadow: none;
}

.menu-list:active {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4) inset;
}

.selector {
    margin-right: 5px;
    margin-top: 20px;
    float: right;
    border-radius: 3px;
}
.panel {
    margin: 20px;
    padding: 10px 15px;
    border-radius: 10px;
}

#code_panel {
    background-color: #eee;
    display: inline-block;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
}

.box {
    margin: 20px;
    margin-top: 68px;
    height: 200px;
}

#text_box {
    /*border: solid 1px #fda;*/
    font-size: 76px;
    color: #000;
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 68px;
    left: 20px;
    /*writing-mode: vertical-lr;*/
    /*line-height: 1em;*/
    white-space: nowrap;
    min-width: 304px;
    z-index: 2;

    /*transform:matrix(-1,0,0,1,0,0);*/
}

#ruled_line {
    /*border: solid 1px #9de;*/
    color: #9de;
    background-color: #fff;
    position: absolute;
    top: 68px;
    left: 20px;
    z-index: 1;
}
